body {
  margin: 0;
  overflow: hidden;
  background: rgb(39, 43, 48);
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  width: 40%;
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}